{
    "extends": [ "eslint:recommended", "plugin:prettier/recommended"],
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": [
            "error",
            {
                "args": "none"
            }
        ],
        "no-console": "off"
    },
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    }
}